@model Decko.Models.Login.RegisterViewModel
<!-- BEGIN Register Form -->
@using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @id = "form-register", @class = "hide" })) {
    <h3>Sign up</h3>
    <hr>
    <div class="form-group">
        <div class="controls">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            @Html.TextBoxFor(model => model.User, new { @class = "form-control", @placeholder = "User" })
            @Html.ValidationMessageFor(model => model.User)
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            @Html.PasswordFor(model => model.Pass, new { @class = "form-control", @placeholder = "Password"})
            @Html.ValidationMessageFor(model => model.Pass)
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            @Html.PasswordFor(model => model.PassConfirm, new { @class = "form-control", @placeholder = "Repeat Password"})
            @Html.ValidationMessageFor(model => model.PassConfirm)
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <label class="checkbox">
                @Html.CheckBoxFor(model => model.Accept)
                I accept the user aggrement.
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary form-control">Sign up</button>
        </div>
    </div>
    <hr>
    <p class="clearfix">
        <a href="#" class="goto-login pull-left">← Back to login form</a>
    </p>
}
<!-- END Register Form -->}